body {
    margin: 0;
    padding: 0;
}

.blue,
.yellow,
.pink,
.green {
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background-color: rgb(134, 183, 255);
}

.pink {
    background-color: rgb(255, 192, 231);
}

.green {
    background-color: rgb(156, 241, 156);
}

.yellow {
    background-color: rgb(255, 255, 164);
}